@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #35f17d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 1rem;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #35f17d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.content .blog-preview {
  margin-bottom: 2rem;
  padding: 0.6rem 0.4rem;
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.445);
}

.blog-preview a {
  text-decoration: none;
}

.content .blog-preview h2 {
  color: #35f17d;
  margin-bottom: 8px;
}

.content button {
  margin-right: auto;
  margin-left: none;
}

.error {
  background-color: rgba(255, 0, 0, 0.315);
  color: red;
}

/* blog-detaiils */
.blog-details h2 {
  margin-bottom: 12px;
}
.blog-details p {
  margin-bottom: 8px;
}
.blog-details button {
  background: #35f17d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #35f17d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #35f17d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
