@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #35f17d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 1rem;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #35f17d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.content .blog-preview {
  margin-bottom: 10px;
}

.content .blog-preview h2 {
  color: #35f17d;
  margin-bottom: 6px;
}

.content button {
  margin-right: auto;
  margin-left: none;
}

.error {
  background-color: rgba(255, 0, 0, 0.315);
  color: red;
}
